.home {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #191d31;

  .container {
    max-width: 1200px;
    width: 100%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;

    .beforeTable {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      input {
        border-radius: 50px;
        background-color: #4f5e70;
        color: #e8e8ed;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        align-self: center;
        padding: 10px;
        
      }
      ::placeholder {
        color: rgb(68, 167, 238);
        border: none;
        font-size: 12px;
        font-weight: 600;
      }
    }
    .contentTable{
      border-collapse: collapse;
      border-radius:40px 40px 0 0 ;
      overflow: hidden;
      font-size: 15px;
      min-width: 400px;
      
      thead tr{
        background-color: #586085;
        color: #d0d2db ;
        text-align: center;
      }
      th,td{
        padding: 12px 15px;
        text-align: center;
      }
    }
    tbody tr{
      border-bottom: 1px solid #3b405b;
      background-color: #353a56;
      color: #9a9ca9;
      font-weight: 600;
      font-size: 13px;
      
    }
    tbody tr{
      border-bottom: 2px solid #444966;
    }
    tbody tr:last-of-type{
      border-bottom: 5px solid #586085;
    }
    tbody tr:nth-of-type(even){
      background-color: #3b4160;
    }
    
  }
}
