body.active-modal {
  overflow-y: hidden;
}

.btnModal {
  padding: 5px 20px;
  display: block;
  font-size: 18px;
  border-radius: 4px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(75, 76, 71, 0.8);
}

.modalContent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 1px 20px;
  border-radius: 4px;
  background-color: rgb(220, 10, 10);
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .headline {
    margin: 20px;
    font-size: 31px;
    &:hover {
      color: brown;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
    margin-bottom: 20px;

    input {
      width: 100%;
      padding: 12px 20px;
      border-radius: 4px;
      border: 2px solid rgb(212, 179, 96);
    }
    .button {
      background-color: #24c78b;
      border: none;
      color: white;
      text-decoration: none;
      width: 18%;
      min-width: 90px;
      cursor: pointer;
    }
    p {
      font-size: small;
      color: rgb(184, 22, 22);
    }
  }
}
